<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">
	
	<bean id="rocketmqClient" class="com.tools.common.rocketmq.factory.RocketmqClientFactoryBean" >
		<!-- 主机地址 -->
		<property name="namesrvAddr" value="192.168.1.157:9876;192.168.1.158:9876"/>
		
		<!-- 客户端实例名称 -->
		<property name="instanceName" value="jinmao_mq_web"/>
		
		<!-- 可以修改每次消费消息的数量，默认设置是每次消费一条  -->
		<property name="consumeMessageBatchMaxSize" value="4"/>
		
	    <!-- 组名 -->
		<property name="groupName" >
			<map>
				<entry key="producterGroupName" value="producterGroupName_jinmao_mq_web" />
				<entry key="consumerGroupName" value="consumerGroupName_jinmao_mq_web" />
			</map>
		</property>
		
		<!-- 消费者或生成者或即消费者又生产者 -->
	    <property name="isFlag" value="consumer"/>
	
		<!-- 消费的TOPIC 和TAG -->
		<property name="topicQueue">
			<!-- 根据实际情况自定义 -->
			<map>
				<entry key="jinmao_remind" value-ref="tag" />
				<entry key="jinmao_operateLog" value-ref="tag" />
			</map>
		</property>
	   
		<!-- ***************************自定义部分****************************************** -->
		<!-- 消费消息回调 -->
		<property name="messageListener" ref="messageListener" />
	</bean>
      
	<!-- 消费监听方法自己实现消费发送过来的消息 -->
	<bean id="messageListener" class="com.jinmao.mq.web.listener.MessageListener" />
	
	<!-- 定义需消费的tcpic -->
	<bean id="tag" class="java.util.ArrayList">
		<constructor-arg index="0">
			<list>
				<!-- 如果全部使用*<value>*</value> -->
				<value>*</value>
			</list>
		</constructor-arg>
	</bean>
	
	<bean class="com.jinmao.mq.web.init.InitRocketMq" />
</beans>