<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
	default-autowire="byName">
	
	 <!-- <task:scheduled-tasks> --><!-- cron="0 0 8 * * ?"  -->
	 	<!-- 项目合同过期自动下线项目和项目合同状态 -->
<!-- 		<task:scheduled ref="housesPactService" method="housesPactEndTimeWork" cron="0 0 2 * * ?" /> -->
<!-- 	</task:scheduled-tasks>  -->
</beans>