<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans        http://www.springframework.org/schema/beans/spring-beans.xsd        http://code.alibabatech.com/schema/dubbo        http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
    default-autowire="byName">
    
	<!-- 数据字典 -->
	<!-- <dubbo:reference id="dictionaryRpcService" 
					 interface="com.dictionary.rpc.dubbo.service.DictionaryRpcService" 
					 url="dubbo://192.168.1.197:6007" 
					 version="1.0" group="group-dictionary" timeout="60000"/> -->
</beans>