<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:props/datasource.properties</value>
				<value>classpath:props/system.properties</value>
			</list>
		</property>
	</bean>

	<!-- 注解传播形式 -->
	<context:component-scan base-package="com.jinmao.api.**" />
	<context:component-scan base-package="com.jinmao.manager.**" />
	
	<!-- spring依赖的配置文件 -->
	<import resource="spring/spring-config-datasource.xml" />
	<import resource="spring/spring-config-dao.xml" />
	<import resource="spring/spring-config-manager.xml" />
	<import resource="spring/spring-config-param.xml" />
	<import resource="spring/spring-config-service.xml" />
    <import resource="spring/spring-config-redis.xml"/>
	<import resource="spring/spring-config-tfs.xml" />
	<import resource="spring/spring-config-rpc.xml"/>	
	<import resource="spring/spring-config-dubbo-service.xml"/>
	<import resource="spring/spring-config-mondb.xml"/>
	<import resource="spring/spring-config-mq.xml"/>
</beans>