<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">

	<!-- dbcp 数据库连接 bean -->
	<bean id="mysqlDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${mysql.jdbc.driver}" />
		<property name="url" value="${mysql.jdbc.url}" />
		<property name="username" value="${mysql.jdbc.username}" />
		<property name="password" value="${mysql.jdbc.password}" />
		<property name="maxActive" value="250" />
		<property name="initialSize" value="30" />
		<property name="maxWait" value="2000" />
		<property name="maxIdle" value="30" />
		<property name="minIdle" value="1" />
		<property name="testOnBorrow" value="false" />
		<property name="testWhileIdle" value="true" />
		<property name="validationQuery" value="select 1 " />
		<property name="timeBetweenEvictionRunsMillis">
			<value>300000</value>
		</property>
		<property name="numTestsPerEvictionRun">
			<value>10</value>
		</property>
		<property name="minEvictableIdleTimeMillis" value="300000" />
	</bean>
</beans>