<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">

	<!-- velocity工具类 -->
	<bean id="velocityTools" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="stringUtils">
					<bean class="org.apache.commons.lang.StringUtils" />
				</entry>
				<entry key="stringEscapeUtils">
					<bean class="org.apache.commons.lang.StringEscapeUtils" />
				</entry>
				<entry key="dateFormatUtils">
					<bean class="com.jinmao.common.util.DateUtil" />
				</entry>
				<entry key="mathFormat">
					<bean class="com.jinmao.common.util.NumberUtil" />
				</entry>
			</map>
		</constructor-arg>
	</bean>
	<bean id="velocityUrl" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<!-- 主域名 -->
				<entry key="mainModule">
					<bean class="com.tools.common.struts.url.ToolsUrl">
						<property name="url" value="${main.domain.value}" />
					</bean>
				</entry>
				<entry key="jsModule">
					<bean class="com.tools.common.struts.url.ToolsUrl">
						<property name="url" value="${js.domain.value}" />
					</bean>
				</entry>
				<entry key="cssModule">
					<bean class="com.tools.common.struts.url.ToolsUrl">
						<property name="url" value="${css.domain.value}" />
					</bean>
				</entry>
				<entry key="imageModule">
					<bean class="com.tools.common.struts.url.ToolsUrl">
						<property name="url" value="${image.domain.value}" />
					</bean>
				</entry>
				<entry key="htmlModule">
					<bean class="com.tools.common.struts.url.ToolsUrl">
						<property name="url" value="${html.domain.value}" />
					</bean>
				</entry>
			</map>
		</constructor-arg>
	</bean>
	<bean id="cookieUtil" class="com.tools.common.struts.cookie.CookieUtil">
		<property name="domain" value=".jinmao.com" />
		<property name="path" value="/" />
	</bean>
</beans>